.about {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 50px;
}

.about-container {
    width: min(1100px, 100%);
    text-align: center;
}

.about-subtitle {
    display: inline-block;
    color: var(--accent);
    background: var(--accent-bg);
    border: 1px solid var(--accent-border);
    padding: 8px 18px;
    border-radius: 50px;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.about h1 {
    margin: 24px 0 20px;
    color: var(--bg);
    font-size: clamp(2.3rem, 5vw, 4.2rem);
    line-height: 1.15;
    font-family: var(--heading);
}

.about-text {
    max-width: 850px;
    margin: auto;
    color: var(--border);
    font-size: 1.05rem;
    line-height: 1.9;
}

.about-grid {
    margin-top: 70px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.about-card {
    background:var(--accent-bg);
    border: 1px solid var(--accent-border);
    border-radius: 20px;
    padding: 40px 25px;
    box-shadow: var(--shadow);
    transition: .35s ease;
}

.about-card:hover {
    transform: translateY(-8px);
    border-color: var(--accent);
}

.about-card h2 {
    color: var(--accent);
    font-size: 3rem;
    margin-bottom: 10px;
}

.about-card span {
    color: var(--accent);
    font-weight: 600;
}

.mission {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.mission div {
    background: var(--accent-bg);
    border: 1px solid var(--accent-border);
    border-radius: 20px;
    padding: 35px;
    box-shadow: var(--shadow);
    text-align: start;
    transition: .35s ease;
}

.mission div:hover {
    transform: translateY(-5px);
    border-color: var(--accent);
}

.mission h3 {
    color: var(--accent);
    margin-bottom: 15px;
    font-size: 1.6rem;
}

.mission p {
    color: var(--border);
    line-height: 1.9;
}

@media (max-width: 900px) {

    .about {
        padding: 120px 20px 70px;
    }

    .about-grid {
        grid-template-columns: 1fr;
    }

    .mission {
        grid-template-columns: 1fr;
    }

    .about h1 {
        font-size: 2.6rem;
    }

    .about-text {
        font-size: 1rem;
    }
}