.navbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 8px;
  border-radius: 10px;
  width: 90%;
  max-height: 50px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: var(--shadow);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}

.logo {
  width: 100px;
  margin-top: 5px;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.link {
  text-decoration: none;
  color: var(--text);
  font-family: var(--heading);
}

.menubtn {
  display: none;
}
.links .primarybtn{
  display: none;
}
@media (max-width: 700px) {
  .links {
    display: none;
  }
  .primarybtn {
    display: none;
  }
  .menubtn {
    display: block;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 80px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: var(--shadow);
    backdrop-filter: blur(12px);
    right: 1%;
  }
  .menu .primarybtn{
    display: block;
  }
}
